<!DOCTYPE html>
<html>
<head>
  <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
<style type="text/css">
<?php require_once "{$_SERVER['DOCUMENT_ROOT']}/datatopoint/assets/css/footer.css";   ?>
 </style>
</head>
<body>
<!-- Footer -->
<footer class="container-fluid">
<div class="info text-center">
 
  <!-- Footer Elements -->
  <div class="container text-center">
    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="social-container">
        <div class="mb-5 flex-center">


          <a href="https://www.facebook.com/DataToPoint" target="_blank">
            <i class="fa fa-facebook" style="font-size:23px"> </i>
          </a>


          <a href="https://in.linkedin.com/in/data-to-point-b865321ba" target="_blank">
            <i class="fa fa-linkedin" style="font-size:23px"> </i>
          </a>

          <a href="https://www.instagram.com/datatopoint/" target="_blank">
            <i class="fa fa-instagram" style="font-size:23px"> </i>
          </a>

        </div>

         <div class="copyright">
    <a href="#">datatopoint.tech </a>© 2021
  </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->
</div>

  <!-- Copyright -->

  <!-- Copyright -->
<br>
</footer>
<!-- Footer -->

</body>
</html>
